@use '../style' as *;
@media screen and (min-width: 0px) {
  main{
    height: 90vh;
    display: grid;
    place-items: center;
    font-size: 2vmin;
  .container--hero{
    display: grid;
  }
  .title{
    color: $font-title;
    text-align: center;
  }
  .search-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: .5vh;
    place-items: center;
    position: relative;
    .search-label{

      padding-inline: 1vh;
      opacity: .8;
      color: $font-p-color-secondary;
    }
    div{
      display: flex;
      gap: 1vh;
      padding: .35vh;
      align-items: center;
      border: .3vmin solid $font-title;
      border-radius: 1.2vmin;
      input{
        padding-inline: 1vh;
        outline: none;
        border: none;
        border-right: .3vmin solid $blue;
        color: $font-p-color-secondary;
      }
    }
  }
  
}
.search-btn{
  border: 0;
  color: $font-title;
  background-color: $font-title;
  -webkit-mask-image: url(../../imgs/lupa.svg) ;
  mask-image: url(../../imgs/lupa.svg) ;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  width: 3vh;
  height: 3vh;
  cursor: pointer;
  }
}
@media screen and (max-width: 600px){
  main{
    font-size: 3.5vmin;
  }

}
@media screen and (max-height: 400px){

  .search-btn{
    width: 6vh;
    height: 6vh;
  }

}