@use '../style' as *;

.weather-container{
  display: grid;
  background-color: $white;
  color: $font-p-color-secondary;
  place-items: center;
  width: 40vh;
  padding: 1vh;
  border-radius: 10px;
  p{
    text-transform: capitalize;
  }
  h2{
    color: $font-title;
  }
  .weather-icon{
    width: 6vh;
    height: 6vh;
    background: transparent;
    background-repeat: space;
    place-self: center;
  }
  .clouds{
    background-image: url(../../imgs/Cloud.svg);
  }
  .clear{
    background-image: url(../../imgs/Sun.svg);
  }
  .rain{
    background-image: url(../../imgs/Rain.svg);
  }
  .thunderstorm{
    background-image: url(../../imgs/Thunder.svg);
  }
}